<!DOCTYPE html>
<html>
<head>
  <title>LifemanagerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body ng-app="projectApp" ng-controller="ProjectController">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top custom" role="navigation">
      <div class="container">
        <div class="navbar-header">
        	<a href="#" class="navbar-brand">Life Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <% if logged_in? %>
	          <ul class="nav navbar-nav">
	            <li class="dropdown">
                  
                  <a href="#" class="dropdown-toggle glyphicon glyphicon-align-justify" data-toggle="dropdown">
                    <span class="caret "></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="project in allProjects"><a ng-click="selectProject(project)">{{project.title}}</a></li>
                  </ul>
              </li>
              <li><a href="#" ng-click="openNewProject('sm')">New Project</a></li>
              <%= render partial: "/projects/form_modal" %>
              <li><a href="#" ng-click="displayOverview()">My tasks</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <!-- <li><a href="/about">About</a></li> -->
	            <!-- <li><%= link_to "Profile", edit_user_path(current_user) %></li> -->
	            <li class="active">
                  <!-- <%= link_to 'Logout', sessions_path, method: :delete %> -->
                  <a data-method="delete" href="/sessions" rel="nofollow">Logout <span class="glyphicon glyphicon-log-out"></span></a>
              </li>
	          </ul>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- end Fixed navbar -->

    <div class="container">
      <br><br><br>

      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-#{name}"%>
      <% end %>

      <%= yield %>

    </div> <!-- /container -->


</body>
</html>
